<nav class="nav-in-section">
  <a class="nav-link nav-link-twitter" title="Open your default client for e-mail, and send me an email"
  href='javascript:spamControl("fortunato.avelar", "gmail.com?subject=WebsiteMessage")' rel="nofollow">Email</a> /
  <a class="nav-link nav-link-github" href="http://github.com/avelar" title="Visit my Githumb">Github</a> /
  <a class="nav-link nav-link-dribbble" href="https://dribbble.com/avelar" title="Visit my Dribbble illustrations">Dribbble</a> /
  <a class="nav-link nav-link-twitter" href="http://www.twitter.com/avelarfortunato/" title="See my Twitter">Twitter</a> /
  <a class="nav-link nav-link-behance" href="https://www.behance.net/avelar" title="Visit my Behance for more works">Behance</a>
</nav>
