*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: #15161A;
  --main-color-light: #B8BBBD;
  --text-color: #4A4A4A;
  --contrast-color: #EED5D5;
  --link-color: #0054E4;
}

html, body {
  font: 400 1.1rem/1.5 'new-spirit', serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
img { width: 100%; }
figure { margin:0; padding:0; }
a {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.3s;
}
a:hover {
  color: var(--main-color);
}
