@media only screen and (max-width:800px){
  /* Layout / base */
  body {
    font-size: 12px;
  }
  select {
    font-size: 1.5em;
  }
  /* Header */
  .header-content {
    width: 85%;
    display: inline;
    padding-bottom: 0;
  }
  .headline {
    line-height: 1.2;
  }
  .headline .headline-icon {
    display: block;
  }

  .projects-content .wrapper{
    flex-flow: column;
  }
  .project-item {
    flex: 100%;
  }
}
