/* Typography */
::-moz-selection{
  color: var(--maing-color);
  background: var(--contrast-color);
}
::selection {
  color: var(--maing-color);
  background: var(--contrast-color);
}

h1 {
  color: var(--main-color);
  font-size: 3.875em; /* Tip: to find font "em" sizes based on default font body "pixels" do: 62px ÷ 16px. Learn with master E.Shiota */
  margin-bottom: 0;
}

h3 {

}
.paragraph {
  margin-bottom: 40px;
}
