/* Typography */
::-moz-selection{
  color: var(--maing-color);
  background: var(--contrast-color);
}
::selection {
  color: var(--maing-color);
  background: var(--contrast-color);
}

h1 {
  font-family: new-spirit, serif;
  font-weight: 700;
  font-style: normal;
  color: var(--main-color);
  font-size: 2.8rem; /* Tip: to find font "em" sizes based on default font body "pixels" do: 62px ÷ 16px. Learn with master E.Shiota */
  margin-bottom: 0;
}

.section-item-headline,
h3 {
  font-family: new-spirit, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.61em; /* 41,89/16 */
  color: var(--main-color);
  line-height: 1.2;
  margin-bottom: 0;
}
.section-item-sub-headline {
  color: var(--main-color-light);
  margin-bottom: 20px;
}
.paragraph {
  margin-bottom: 40px;
}
