{% include head.html %}
  <body>
    <header class="header">
      <div class="header-content">
        <h1 class="headline">
          Hi — Avelar Here.
        </h1>

        <p class="paragraph">
          I'm a designer on the growth and product teams at <a href="https://pitzi.com.br/equipe" target="_blank" title="Visit the Pitzi StartUp web site">Pitzi.com.br</a>, I'm a father and active rock climber.
        </p>
        <p class="paragraph">
          Recently, I've worked on launching the smartphone protection called <i>Moto Proteção</i>, in partnership between Pitzi and the amazing Motorola Brazil people. My hole was design and front-end develop the application, adds, and web pages.
        </p>
        <p class="paragraph">
          Before that. I've worked with our team on research to design a Third-Part cell phone insurance for some of biggest insurance companies on Brazil.
        </p>
        <p class="paragraph">
          And before that, I've worked on the <a href="https://apps.apple.com/br/app/pitzi-ninja/id1565579513" target="_blank">Pitzi Ninja</a> app, a bussiness game that helps 2k+ insurance sellers achieve their goals.
        </p>
        <p class="paragraph">
          Over the past 9 years, I've been working on different  business, insurance, health, education, and sales funnels.
          <br>
          <br>
          If you want some details about my work, you can <a href='javascript:spamControl("fortunato.avelar", "gmail.com")'  rel="nofollow">e-mail me</a>.
        </p>
        <p class="paragraph">
          By the way, @pitzi, <a href="https://pitzi.com.br/vagas" target="_blank">we are hiring</a>
        </p>

        <p class="paragraph">
          :)
        </p>

        {% include navegation_in_section.html %}

      </div>
    </header>
    <script src="/js/main.js"></script>
    <script>
      // E-mail spam control
      // See more on: https://github.com/Avelar/mailto-spam-control
      function spamControl(usuario,domino) {
        getString = 'mailto:' + usuario + '@' + domino;
        window.location = getString;
      }

      // Google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23660227-1']);
      _gaq.push(["_setDomainName",".avelarfortunato.com"]);
      _gaq.push(['_trackPageview']);
      _gaq.push(["_trackPageLoadTime"]);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
