{% include head.html %}
  <body>
    <header class="header">
      <div class="header-content">
        <p>
          It’s nice to meet you :)
        </p>
        <h1 class="headline">
          <!-- <span class="headline-icon">👋</span> -->
          Oi, sou {{ site.author }}.
        </h1>

        <p class="paragraph">
          I am brazilian Product Designer based in <strike>São Paulo</strike>, Florianópolis. I design and develop digital products with focus on user experience, simplicity and data. I’m a designer and developer for <a href="https://pitzi.com.br/equipe" target="_blank" title="Visit the Pitzi StartUp web site">Pitzi.com.br</a>, an amazing insurtech based on São Paulo, who wich is making the insurance sector beautiful on Brazil.
        </p>

        <!-- <p class="paragraph">
          See below some of projects that I’ve been worked, and… say hello.
        </p> -->

        {% include navegation_in_section.html %}

      </div>
    </header>
    <script src="/js/main.js"></script>

  </body>
</html>
